.photo-container {
  padding: 50px;
  font-family: "consolas";
}
.photo-container h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.photo-row {
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.photo-row .photo {
  border-top: 0.5px solid #000;
  border-left: 0.5px solid #000;
  border-right: 0.5px solid #000;
  padding: 20px;
}
.photo-row .photo .post-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 20%;
}
.photo-row .photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.photo-row .photo img:hover {
  cursor: pointer;
}
.photo-row .photo .no-left-padding {
  padding-left: 0px;
}
.photo-row .photo .no-right-padding {
  padding-right: 0px;
}
.photo-row .photo .top-padding {
  padding-top: 10px;
}
.photo-row .photo .post-title {
  font-size: 1.8em;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.photo-row .photo .date-label {
  font-weight: 600;
}
.photo-row:last-child .photo {
  border-bottom: 0.5px solid #000;
}
.desc-row {
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.desc-row .photo {
  border: 0.5px solid #000;
  padding: 20px;
}
.desc-row .photo .post-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 20%;
}
.desc-row .photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.desc-row .photo .no-right-padding {
  padding-right: 0px;
}
.desc-row .photo .no-left-padding {
  padding-left: 0px;
}
.desc-row .photo .top-padding {
  padding-top: 10px;
}
.desc-row .photo .post-title {
  font-size: 1.8em;
  padding-left: 0px;
}
.desc-row .photo .date-label {
  font-weight: 600;
}
.desc-row .photo .back-button {
  padding-left: 0px;
  padding-right: 0px;
}
.desc-row .photo .back-button .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .photo-row .post-img {
    padding-bottom: 20%;
  }
  .photo-row .post-img img {
    width: 165px;
    margin: 0px;
    padding-left: 20px;
  }
}
