<!DOCTYPE html>
<html>
    <head>
    	<title> Flickr Public Feed </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    	<div class="container photo-container">
    		<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
    			<h1>Flickr Public Feed</h1>
    		</div>
	        <div id="photos">
	        </div>
	        <script id="desc-template" type="text/template">
	            <div class="row desc-row">
		            <div class="photo col-lg-offset-2 col-lg-8">
		            	<div class="col-lg-12">
			            	<div class="col-lg-10 post-title">
	            				<a href="<%= link %>" target="_blank"><%= title %></a>
	            			</div>
	            			<div class="col-lg-2 back-button">
	            				<button class="btn btn-default back-button"> Back</button>
	            			</div>
            			</div>
            			<div class="col-lg-12">
            				<div class="col-lg-2 no-left-padding top-padding">
	            				<a target="_blank" href='http://flickr.com/<%= author_id %>'>
	            				Post Author
	            				</a>
	            			</div>
	            			<div class="col-lg-6 no-left-padding top-padding">
	            				<span class="date-label">Published</span> <%= moment(date_taken).format('Do MMM YYYY') %> <span class="date-label">at</span> <%= moment(date_taken).format('h:mm a') %>
	            			</div>
            			</div>
            			<div class="col-lg-12 top-padding"> 
            				<div class="col-lg-3 post-img">
		            			<img src='<%= media['m'] %>'>
		            		</div>
		            		
		            		<div class="col-lg-9">
		            			<p><%= htmlToText(description) %></p>
		            		</div>

		            		<div class="col-lg-9">
		            			<span class="date-label"> Tags </span> <%= tags %>
		            		</div>
            			</div>
		            </div>
	            </div>
	        </script>
	        <script id="photo-template" type="text/template">
	            <div class="row photo-row">
		            <div class="photo col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
		            	<div class="col-lg-3 col-md-2 col-sm-3 col-xs-12 post-img">
		            		<img class="expandPost" id="<%= photoId = photoId + 1 %>" src='<%= media['m'] %>'>
		            	</div>
		            	<div class="col-lg-9 col-md-10 col-sm-9 col-xs-12 no-left-padding no-right-padding">
		            		<div class="col-xs-12 post-title top-padding">
		            			<a href="#" id="<%= photoId = photoId %>"class="expandPost"><%= title %></a>
		            		</div>
		            		<div class="col-xs-12 device-lg visible-lg device-md visible-md">
		            			<div class="col-xs-3 no-left-padding top-padding">
		            				<a target="_blank" href='http://flickr.com/<%= author_id %>'>
		            				Post Author
		            				</a>
		            			</div>
		            			<div class="col-xs-6 no-left-padding top-padding">
		            				<span class="date-label">Published</span> <%= moment(date_taken).format('Do MMM YYYY') %> <span class="date-label">at</span> <%= moment(date_taken).format('h:mm a') %>
		            			</div>
		            			<div class="col-xs-3 no-left-padding top-padding">
		            				<a href='<%= link %>'>
		            				View on Flickr
		            				</a>
		            			</div>		            			
		            		</div>
		            		<div class="col-xs-12 device-sm visible-sm device-xs visible-xs">
		            			<div class="col-xs-12 no-left-padding top-padding">
		            				<span class="date-label">Published</span> <%= moment(date_taken).format('Do MMM YYYY') %> <span class="date-label">at</span> <%= moment(date_taken).format('h:mm a') %>
		            			</div>
		            			<div class="col-xs-12 no-left-padding top-padding">
			            			<div class="col-sm-4 col-xs-5 no-left-padding">
			            				<a target="_blank" href='http://flickr.com/<%= author_id %>'>
			            				Post Author
			            				</a>
			            			</div>
			            			<div class="col-sm-4 col-xs-5 no-left-padding">
			            				<a href='<%= link %>'>
			            				View on Flickr
			            				</a>
			            			</div>	
		            			</div>	            			
		            		</div>
		            	</div>
		            </div>
	            </div>
	        </script>
	    </div>
    </body>
    <!-- Load all scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="js/index.js"></script>   
</html>